<h2>All articles</h2>

<% @articles.each do |article| %>
  <div class="article">
    <h3><%= link_to article.title, article.url %></h3>
    <p>
      <%= render 'shared/byline', votable: article %>
      | <%= link_to pluralize(article.comments.count, 'comment'), article_comments_path(article) %>
    </p>
  </div>
<% end %>
